[Unit]
Description=svclogin container
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a login.ncc9.com
ExecStop=/usr/bin/docker stop -t 2 login.ncc9.com

[Install]
WantedBy=local.target

